<div>
	<h3><%= definition.definition %></h3>
	<div>
		<p><%= definition.usage %></p> 
		<p>
			<span class="translation">Translation: </span><span><%= definition.usage_translation %></span> 
				
		</p> 
		<p><%= definition.updated_at %></p> 
	</div>
</div>