<div>
	<div class="defPartial">
		<div>Definition: <%= definition.definition %></div>
		<div>Usage: <%= definition.usage %></div>
		<div>Usage Translation: <%= definition.usage_translation %></div>
	</div>
</div>