<head>
</head>
<body>
	<div class="newEntryPanel">
		<br>
		<div id="phrase" class="inputSection">
			<label for="phrase">Phrase: </label>
			<%= react_component("InputMethodEditor", {
				idName:'phraseField', 
				textArea:false,
				numResults:5,
				defaultInput: @entry.phrase
			}) %>
		</div>
		<br>
		<br>
		<div id="pinyin" class="inputSection">
			<label for="pinyin">Pinyin: </label>
			<input type="text" id="pinyinField" value="<%=@entry.pinyin%>">
		</div>
		<br>
	</div>
</body>