<head>
	<link href="https://fonts.googleapis.com/css?family=Oswald|Noto+Sans+TC&display=swap" rel="stylesheet">
	<style type="text/css">
	</style>
</head>
<body>
	<div class="newEntryPanel">
		<label for="phrase">Phrase: </label>
		<br>
		<div id="phrase">
			<input type="text" id="phraseField" value="<%=@entry.phrase%>">
		</div>
		<br>
		<label for="pinyin">Pinyin: </label>
		<br>
		<div id="pinyin">
			<input type="text" id="pinyinField" value="<%=@entry.pinyin%>">
		</div>
		<br>
	</div>
	<script type="text/javascript">
		var selectionFieldPos = [0,0]
		var initializeIME = function(event){
			// TRIGGER the IME ONLY IF the character is a-z
			if (event.which<65 || event.which>90) {return;}
			selectionFieldPos = [this.selectionStart,this.selectionEnd];
			// TRACK the position of the results box
		  var caret = getCaretCoordinates(this, this.selectionEnd);
		  var cursorPos= $("#phrase").prop('selectionStart');
		  $('#phrase').append(
	      $('<div>', { id: 'imeBubble'})
		  );
		  $('#imeBubble').append(
	      $('<input>', { id: 'phraseEntry', type: 'text'})
		  );
		  $('#imeBubble').append(
	      $('<div>', { id: 'results'})
		  );
		  var inputVertPosition = this.getBoundingClientRect().top + caret.height + + caret.top + 5;
		  var inputHorizPosition = this.getBoundingClientRect().left + caret.left + 5;
		  $("div#imeBubble")
		  	.css({
		  		"background-color":"#DCDCDC",
		  		"z-index": 99,
		  		"color":"black",
		  		"position":"absolute",
		  		"top":inputVertPosition+"px",
		  		"left":inputHorizPosition+"px",
		  		"padding":"10px",
		  		"border": "1px solid gray"
		  	});
			$('input#phraseEntry').on('blur', removeIME);
		  $('input#phraseEntry').focus();
		  $('input#phraseEntry').on('keyup', renderIME);
		}
		var removeIME = function(){
			if (!$('.resultsList').is(":focus")){
				document.getElementById("imeBubble").remove();
			}
		}
		// need global variable to keep the old list in case we hit one of the submit options
		var resultsList;
		var renderIME = function(e){
			// GET imeBubble
			var inputEntryText = this.value;
			if (inputEntryText == '') {
				document.getElementById('results').innerHTML='';
				return;
			}
			var textToUse = '';
			var code = e.which;
			if (code==13) {
				textToUse = resultsList[0];
				insertPhrase(textToUse);
			} else if (code<=54 & code>=49){
				textToUse = resultsList[code-49];
				insertPhrase(textToUse);
			}
			var promise = getChinese(inputEntryText);
			promise.then(data => {
				resultsList = data[1][0][1];
				document.getElementById('results').innerHTML = resultsList.map(
					function(x, i){
						return '<div>'+(i+1)+") "+x+"</div>";
					}
				).join(' ');
			}).catch(error => console.log('Error:', error));
		}

		function insertPhrase(insertableText) {
			var inputField = $('input#phraseField');
			var firstSlice = inputField.val().slice(0,selectionFieldPos[0]);
			var secondSlice = inputField.val().slice(selectionFieldPos[1]);
			inputField.val(firstSlice+insertableText+secondSlice);
			$('#imeBubble').remove();
			inputField.focus();
		};

		$('input#phraseField').on('keydown', initializeIME);

		function getChinese(pinyin) {
			return $.ajax({
				url: "https://www.google.com/inputtools/request?ime=pinyin&ie=utf-8&oe=utf-8&app=translate&num=5&text="+pinyin.toLowerCase(),
			});
		}

	</script>
</body>