<head>
	<link href="https://fonts.googleapis.com/css?family=Oswald|Noto+Sans+TC&display=swap" rel="stylesheet">
	<style type="text/css">
	</style>
</head>
<body>
	<div class="newEntryPanel">
		<label for="phrase">Phrase: </label>
		<br>
		<div id="phrase">
			<input type="text" id="phraseField" class="inputField" value="<%=@entry.phrase%>">
		</div>
		<br>
		<label for="pinyin">Pinyin: </label>
		<br>
		<div id="pinyin">
			<input type="text" id="pinyinField" class="inputField" value="<%=@entry.pinyin%>">
		</div>
		<br>
	</div>
</body>