<head>
</head>
<body>
	<div class="newEntryPanel">
		<label for="phrase">Phrase: </label>
		<br>
		<div id="phrase">
			<input type="text" id="phraseField" class="inputField" value="<%=@entry.phrase%>">
		</div>
		<br>
		<label for="pinyin">Pinyin: </label>
		<br>
		<div id="pinyin">
			<input type="text" id="pinyinField" class="inputField" value="<%=@entry.pinyin%>">
		</div>
		<br>
	</div>
</body>