<h4>Entries</h4>

<div>This is some overview page for entries</div>

<div>In our case, we'll just display how many entries we have in the db, which is <%= @count %></div>

<div>Also, here's a corgi:</div>

<img src="<%= @corgi_url %>">