<html>
<head>
	<title>Add New Entry</title>
	<link href="https://fonts.googleapis.com/css?family=Oswald|Noto+Sans+TC&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="new_entry_form.css">
	<script type="text/javascript"></script>
</head>
<body>
	<div class="mainPanel">
		<h1>CHANG'S SLANG</h1>
		<h2>New Entry</h2>
		<%= render partial: 'entry_form' %>
	</div>
</body>
</html>
