<h4>Chang's Slang</h4>

<div>This is a view for a specific entry.</div>

<div>We can show some details about the entry here.</div><br>
<% if @entry.present? %>
    <!-- This will be rendered if we found an entry -->
  <div>Chinese Word: <%= @entry.phrase %></div>
  <div>Pinyin: <%= @entry.pinyin %></div>

<% else %>
  <h4>EXCEPT YOU FUCKED UP</h4><br><br><br>
  <h1 class="animated shakeit" style="color: red;padding-left:50px;">
    THERE'S NO ENTRY WITH THAT ID
  </h1>
<% end %>