<h3>Add a New Definition</h3>
<div>
	
	<label for="definition">Definition: </label><br>
	<input class="inputField" type="text" id="definition"><br>
	<label for="usage">Usage: </label><br>
	<input class="inputField" type="text" id="usage"><br>
	<label for="usageTranslation">Usage Translation: </label><br>
	<input class="inputField" type="text" id="usageTranslation"><br>
	<label for="tags">Tags: </label><br>
	<input class="inputField" type="text" id="tags"><br>
</div>	

<a class="button" onclick="submitDefinition()">Submit Definition</a>

<script type="text/javascript">
	function submitDefinition() {
		var definitionText = $("#definition").val();
		var usageText = $("#usage").val();
		var usageTranslationText = $("#usageTranslation").val();
		var tagsText = $("#tags").val();
		if (definitionText.trim()=='') {
			return alert('Definition cannot be empty!')
		} else if (usageText.trim()=='') {
			return alert('Usage cannot be empty!')
		} else if (usageTranslationText.trim()=='') {
			return alert('Usage Translation cannot be empty!')
		}
		$.post(window.location.pathname+'/definitions', {
			definition: definitionText,
			usage: usageText,
			usage_translation: usageTranslationText,
			tag_list: tagsText, 
		});
	}
</script>
