<h3>Add a New Definition</h3>
		
<label for="definition">Definition: </label><br>
<input type="text" id="definition"><br>
<label for="usage">Usage: </label><br>
<input type="text" id="usage"><br>
<label for="usageTranslation">Usage Translation: </label><br>
<input type="text" id="usageTranslation"><br>
<button type="button" onclick="submitDefinition()">Submit Definition</button>

<script type="text/javascript">
	function submitDefinition() {
		var definitionText = $("#definition").val();
		var usageText = $("#usage").val();
		var usageTranslationText = $("#usageTranslation").val();
		console.log(window.location.pathname+'/definitions');
		$.post(window.location.pathname+'/definitions', {
			definition: definitionText,
			usage: usageText,
			usage_translation: usageTranslationText
		});
		
	}
</script>
