<head>
	<script type="text/javascript">
		function submitDefinition() {
			var definitionText = $("#definition").val();
			var usageText = $("#usage").val();
			var usageTranslationText = $("#usageTranslation").val();
			var tagsText = $("#tags").val();
			if (definitionText.trim()=='') {
				return alert('Definition cannot be empty!')
			} else if (usageText.trim()=='') {
				return alert('Usage cannot be empty!')
			} else if (usageTranslationText.trim()=='') {
				return alert('Usage Translation cannot be empty!')
			}
			$.ajax({
			    url: window.location.pathname+'/definitions',
			    type: "POST",
			    data: {
						definition: definitionText,
						usage: usageText,
						usage_translation: usageTranslationText,
						tag_list: tagsText, 
					},
			    success: function(){alert('Definition Added!')},
			    error: function(xhr, status, error) {
					  var err = JSON.parse(xhr.responseText);
					  alert(err.Message);
					}
			});
		}
	</script>
</head>
<body>
	<h3>Add a New Definition</h3>
	<div>
		<div  class="inputSection">
			<label for="definition">Definition (English): </label>
			<input type="text" id="definition">
			<label for="usage">Usage: </label>
			<%= react_component("InputMethodEditor", {
				idName:'usage', textArea:false, numResults:5
			}) %>
			<label for="usageTranslation">Usage Translation (English): </label>
			<input type="text" id="usageTranslation">
			<label for="tags">Tags (English): </label>
			<input type="text" id="tags">
		</div>
	</div>	

	<a class="button" onclick="submitDefinition()">Submit Definition</a>
</body>


