/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 	body{
		margin: 0px;
		background-color: black;		
	}
	h1,h2,h3,h4,h5,h6 {
		font-family: 'Oswald', sans-serif;
		color: #FAED26;
		padding: 0px;
		margin: 0px;
	}
	h2 {
		font-size: 40px;
	}
	label {
		font-family: 'Noto Sans TC', sans-serif;		
	}
	.title a, .subtitle a {
	    text-decoration: none;
	    color: inherit;
	}
	div.inputSection {
	  display:grid;
	  grid-template-columns: min-content auto;
	  grid-gap:5px;
	}
	div.inputSection input {
		width: 90%;
		padding: 10px;
		font-size: 15px;
	}
	div.inputSection label {
		text-align:right;
		white-space: nowrap;

	}
	a.button {
		background: transparent url('bg_button_a.gif') no-repeat scroll top right;
		color: black;
		/*display: block;*/
		clear: left;
		font: normal 14px Noto Sans, sans-serif;
		margin: 10px 10px 0px 0px;
		padding: 5px 15px 5px 15px;
		background-color: #FAED26;
		border-radius: 5px;
		text-decoration: none;
		display: inline-block;
	}
	a.button:hover {
		cursor: pointer;
		opacity: 0.75;
	}
	a.button.tagButton {
		background-color: lightGray;
		padding: 2px 8px 2px 8px;
		margin: 2px;
		border-radius: 1px;
		border: 1px solid black;
	}
	.background {
		padding: 0px 30px 30px 30px;
		margin: 0px;
		background: url(taipei_101_bckgd.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		height: 100vh;
		background-position: center;
	}
	.mainPanel{
		padding: 30px;
	}
	.panel {
		margin: 0px;
		padding: 30px 0px 0px 30px;
	}
	.textPanel {
		position: relative;
		top: 25%;

	}
	div {
		border-radius: 4px; 
		color: inherit;
		font-family: 'Noto Sans TC', sans-serif;
	}
	div.header {
	  display:grid;
	  grid-template-columns: min-content auto;
	  grid-gap:5px;
	}
	div.header .userInfo {
		text-align: right;
		color: white
	}
	div .title {
		white-space: nowrap;
		font-weight: bold;
		font-size: 50px;
		font-family: 'Oswald', sans-serif;
		color: #FAED26;
		padding: 0px;
		margin: 0px;
	}
	div .subtitle {
		white-space: nowrap;
		font-weight: bold;
		font-size: 20px;
		font-family: 'Oswald', sans-serif;
		color: #FAED26;
		padding: 0px;
		margin: 0px;
	}