/*landing page css*/

/*COLORS*/
/* #FAED26 - yellow */
/* #46344E - indigo */
/* #5A5560 - blue gray */
/* #9D8D8F - paper */
/* #9B786F - latte */

	body{
		margin: 0px;
		background-color: black		
	}
	.bulkPanel{
		margin-top: 100px;
	}
	.panel {
		margin: 0px;
		background: url(taipei_101_bckgd.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		/*background-color: black;*/
		height: 100vh;
		background-position: center;
	}
	h1,h2,h3,h4,h5,h6 {
	    font-family: 'Oswald', sans-serif;
	    /*background-color: #5A5560; */
	    color: #FAED26;
	    padding: 10px;
	}
	div {
		padding: 6px;
		border-radius: 4px; 
/*		background-color: #46344E;
*/		color: white;
		font-family: 'Noto Sans TC', sans-serif;
	}
	.searchBarSection {
		padding: 5px 15px 5px 0px;
		width: 75%;
		margin: auto;
		color: white;
		background-color: #46344E;

	}
	.searchTitle {
		padding:10px;
	}
	.trending {
		margin: 30px;
		background-color: #46344E;
	}
	input {
		padding: 10px;
		width: 75%;
		font-size: 15px;
		margin: auto;
	}
	li, li a{
		color: #FAED26;
	}