/*landing page css*/

/*COLORS*/
/* #FAED26 - yellow */
/* #46344E - indigo */
/* #5A5560 - blue gray */
/* #9D8D8F - paper */
/* #9B786F - latte */

	body{
		margin: 0px;
		background-color: black		
	}
	.textPanel{
		margin-top: 100px;
	}
	.panel {
		margin: 0px;
		padding: 30px 0px 0px 30px;
		background: url(taipei_101_bckgd.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		height: 100vh;
		background-position: center;
	}
	div {
		padding: 6px;
		border-radius: 4px; 
		color: white;
		font-family: 'Noto Sans TC', sans-serif;
	}
	.searchBarSection {
		padding: 5px 15px 5px 0px;
		width: 75%;
		margin: auto;
		color: white;
		background-color: #46344E;

	}
	.searchTitle {
		padding:10px;
	}
	.trending {
		margin: auto;
		background-color: #46344E;
		width: 75%;
	}
	.trending div{
		color: white;
	}
	input {
		padding: 10px;
		width: 75%;
		font-size: 15px;
		margin: auto;
	}
	.newWordLink a, li, li a{
		color: white;
	}