<head>
	<link href="https://fonts.googleapis.com/css?family=Oswald|Noto+Sans+TC&display=swap" rel="stylesheet">
	<script type="text/javascript">
	</script>
</head>
<body>
	<div class="panel">
		<h1><a href="/">CHANG'S SLANG</a></h1>
		<h3>The Chinese Urban Dictionary</h3>
		<br>
		<div class="textPanel">
			<div class="searchBarSection">
				<span class="searchTitle">Search</span>
				<input id="searchBar" class="inputField" type="text" class="searchBar"></input>
			</div>
			<br>
			<% t=Time.now %>
			<div class="trending">
				<h3 class="wordSection">Top 5 Trending - <%= t.strftime("%b %d, %Y") %> </h3>
				<div class="trendingList">
					<ol>
						<% Entry.all.order(view_count: :desc).limit(5).each do |entry| %>
					    <li>
					    	<%= link_to "#{entry.phrase}", entry_path(entry.id) %>
					    </li>
					  <% end %>
					</ol>
					<div class="newWordLink">
						<%= link_to "Add a new word!", new_entry_path, :class => 'button' %>
					</div>
				</div>
			</div>
		</div>
	</div>	
	<script type="text/javascript">
		bindIME('searchBar',5);
	</script>
</body>
