<h2>Chang's Slang</h2>

<br>
<div>SEARCH BAR GOES HERE</div>
<br>
<div></div>
<span>TRENDING</span>
<ul>
  <% Entry.all.order(view_count: :desc).limit(5).each do |entry| %>
    <li>
    	<%= link_to "#{entry.phrase}", entry_path(entry.id) %>
    </li>
  <% end %>
</ul>
<%= link_to "Add a new word!", new_entry_path %>